<div class="second-main" ng-controller="dialogCtr">
	<div class="btn-group">
	    <button  type="button" class="btn btn-default" ng-click="BdRemind()">  
	       		<span class="glyphicon glyphicon-home"></span>系统提示框
	    </button>
	    <button type="button" class="btn btn-default" ng-click="BdConfirm()">   
	       		<span class="glyphicon glyphicon-hand-up"></span>confirm确认选择框
	    </button>  
	    <button type="button" class="btn btn-default" ng-click="BdSuccess()">
	        	<span class="glyphicon glyphicon-repeat"></span>Success提示框
	    </button>
	    <button type="button" class="btn btn-default" ng-click="BdErrFn()">  
	        	<span class="glyphicon glyphicon-remove-circle"></span>错误提示框
	    </button>
	</div>  
</div>